rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isHousehold() {
      return request.auth != null && request.auth.uid == 'qraGQfyjhbeqVxIEFYOf0TsMzJs2';
    }

    match /folders/{folderId} {
      allow read, write: if isHousehold();
    }

    match /lists/{listId} {
      allow read, write: if isHousehold();
    }

    match /tasks/{taskId} {
      allow read, write: if isHousehold();
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
